/*
*  Meeting Web - frontend to meeting, elearning & conference system
*/
// Declare all variables here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$background-color: #F5F7FB;
$error-background-color: #EFE6E6;
$button-color-blue: #467FCF;
$header-height: 65px;
$footer-height: 65px;
