<%
#
#  Meeting Web - frontend to meeting, elearning & conference system
#
%>

<button style="<%= "background-color: #{role_colour(role)};border-color: #{role_colour(role)}" %>" class="user-role btn btn-sm" onclick="filterRole('<%= escape_javascript(role.name) %>')">
  <%= translated_role_name(role) %>
</button>