<%
#
#  Meeting Web - frontend to meeting, elearning & conference system
#
%>

<div class="container text-center pt-9">
  <div class="display-1 text-muted mb-5"><%= t("errors.bigbluebutton.title") %></div>
  <h1 class="h2 mb-3"><%= t("errors.bigbluebutton.message") %></h1>
  <p class="h4 text-muted font-weight-normal mb-7"><%= t("errors.bigbluebutton.help", doc_link: "https://docs.bigbluebutton.org/greenlight/gl-install.html#setting-bigbluebutton-credentials").html_safe %></p>
</div>
